<!DOCTYPE html>
<html>
  <head>
    <script src="{{= it.projectName }}/js/elm.js"></script>
  </head>
  <body style="margin: 0;">
    <script>
      Elm.fullscreen(Elm.Main);
    </script>
  </body>
</html>
